{% extends 'base.html' %}

{% block con %}
<div class="container">
    <h2>Регистрация</h2>  
    <hr>

    <form action="{% url 'reg' %}" method="post">
        {% csrf_token %}
        <div class="row justify-content-center">
            <div class="col-6">
                <div class="form-group">
                    <label for="id_username" class="mb-2">Имя пользователя</label>
                    <input type="text" name="username" id="id_username" class="form-control mb-3 {% if form.username.errors %} is-invalid {% endif %}" placeholder="Введите имя пользователя">
                    {% if form.username.errors %}
                        <div class="invalid-feedback">
                            {{ form.username.errors.0 }}
                        </div>
                    {% endif %}
                    <!-- <label for="id_age" class="mb-2">Возраст</label>
                    <input type="text" name="age" id="id_age" class="form-control mb-3 {% if form.age.errors %} is-invalid {% endif %}" placeholder="Возраст">
                    {% if form.age.errors %}
                        <div class="invalid-feedback">
                            {{ form.age.errors.0 }}
                        </div>
                    {% endif %} -->
                    <label for="id_password1" class="mb-2">Пороль</label>
                    <input type="text" name="password1"  id="id_password1" class="form-control mb-3 {% if form.password1.errors %} is-invalid {% endif %}" placeholder="Введите пороль">
                    {% if form.password1.errors %}
                        <div class="invalid-feedback">
                            {{ form.password1.errors.0 }}
                        </div>
                    {% endif %}
                    <label for="id_password1" class="mb-2">Подтверждение пороля</label>
                    <input type="text" name="password2" id="id_password2" class="form-control mb-3 {% if form.password2.errors %} is-invalid {% endif %}" placeholder="Подтвердите пороль">
                    {% if form.password2.errors %}
                        <div class="invalid-feedback">
                            {{ form.password2.errors.0 }}
                        </div>
                    {% endif %}
                    <div class="text-center">
                        <button type="submit" class="btn btn-success">Зарегистрироваться</button>
                    </div>
                </div>
            </div>
        </div>       
    </form>
</div>
{% endblock %}
